.page-create-point{
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;

}

.page-create-point header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 48px;
}

.page-create-point header a{
    color: var(--title-color);
    font-weight: bold;
    display: flex;
    align-items: center;
}

.page-create-point header a span{
    margin-right: 16px;
    background-image: url(../icones/arrow-left.svg);
    width: 20px;
    height: 24px;
    display: flex;
}

