
.form{
    background-color: #fff;
    margin: 40px auto;
    padding: 64px;
    border-radius: 8px;
    max-width: 730px;
}

.form h1{
    font-size: 36px;
}

.form fieldset{
    margin-top: 10px;
    border: 0;
}

.form legend{
    margin-bottom: 40px;
}

.form legend h2{
    font-size: 20px;
    margin-top: 20px;
}

.form .field{
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-bottom: 24px;
}

.form .field-group{
    display: flex;
}

.form .field input, select{
    background-color: #f0f0f5;
    border: 0;
    padding: 16px 24px;
    font-size: 16px;
    outline: none;
    border-radius: 8px;
}

.form .field select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.form label{
    font-size: 14px;
    margin-bottom: 8px;
}

.field-group .field + .field{
    margin-left: 24px;
}

.form button{
    width: 260px;
    height: 56px;
    background-color: var(--primary-color);
    border-radius: 8px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: 0;
    margin-top: 40px;
    transition: background-color 400ms;
    cursor: pointer;
}

.form button:hover{
    background-color: #2fb86e;
}